@import url(fonts.css);

body {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

nav {
    height: 150px;
    display: flex;
    justify-content: center;

    ul {
        width: 1440px;

        font-family: 'libre_franklinthin', sans-serif;
        font-size: 20px;
        font-weight: bold;

        list-style-type: none;
        padding: 0;
        margin: 0;

        display: flex;
        justify-content: space-around;
        align-items: center;

        li {
            cursor: pointer;
        }

        .logo {
            font-family: 'ranchoregular', sans-serif;
            font-size: 96px;
            font-weight: normal;
        }
    }
}

#content {
    width: 1440px;
}

.home-page {
    align-self: center;
    display: flex;
    justify-content: center;

    .hero-img,
    .hero {
        width: 600px;
    }

    .hero {
        display: flex;
        flex-direction: column;
        justify-content: center;

        font-family: 'libre_franklinthin', sans-serif;

        .hero-title {
            text-align: left;
            font-family: 'josefin_sansthin', sans-serif;
            font-size: 48px;
            margin-bottom: 126px;

            .highlight {
                color: #2A9D8F;
            }
        }

        .hero-buttons {
            margin-bottom: 97px;

            button {
                border: none;
                font-size: 20px;
                margin-right: 107px;
                cursor: pointer;
            }

            .hightlight-button {
                border-radius: 10px;
                background-color: #E76F51;
                color: #FFFFFF;
                padding: 13px 37px;
                box-shadow: #F4A261 5px 5px 15px;
            }

            .neutral-button {
                background-color: #FFFFFF;
            }
        }

        .quick-link-img {

            padding: 0 24px;


            width: 488px;

            display: flex;
            justify-content: space-between;

            .line {
                align-self: center;
                height: 85px;
                border-left: 1px solid #000000
            }


            .quick-img {
                display: flex;
                flex-direction: column;
                align-items: center;

                a {
                    text-decoration: none;
                    color: #000000;
                }

                img {
                    height: 50px;
                    width: 50px;
                    margin-bottom: 15px;
                }

                p {
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
    }

}

.h2-title {
    font-family: 'ranchoregular', sans-serif;
    font-size: 64px;
    font-weight: lighter;
    margin: 0 0 20px 0;
}

.expertos {
    font-family: 'josefin_sansthin', sans-serif;
    font-size: 24px;
    color: #E76F51;
    font-weight: bold;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    .grid-menu {
        display: grid;
        grid-template: 1fr 1fr 0fr 1fr 0fr 1fr / repeat(3, 1fr);
        column-gap: 76px;
        row-gap: 65px;
        margin-bottom: 140px;

        h3 {
            font-family: 'josefin_sansthin', sans-serif;
            font-size: 42px;
            text-align: center;
        }



        .menu-position {
            font-family: 'libre_franklinthin', sans-serif;
            display: flex;
            align-items: center;
            gap: 9px;

            h4 {
                margin: 0;
                font-size: 22px;

                .price {
                    margin-left: 19px;
                    display: inline-block;
                    font-weight: lighter;
                }
            }

            p {
                margin: 7px 0 0 0;
                font-size: 18px;
            }
        }

        .menu-line {
            border-top: 1px dashed black;
        }
    }
}

.menu-divider {
    border: none;
    border-top: 2px dotted #000;
    margin: 1px 0;
    position: relative;
    height: 2px;
}

.menu-divider::before,
.menu-divider::after {
    content: "◆";
    position: absolute;
    top: -8px;
    font-size: 12px;
    color: #000;
    background: #fff;
    padding: 2px;
    line-height: 1;
}

.menu-divider::before {
    left: -4px;
}

.menu-divider::after {
    right: -4px;
}


.nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;

    .cooks {
        display: flex;
        gap: 75px;
        margin-bottom: 57px;

        .cook {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: end;

            .cook-info {
                position: absolute;
                width: 270px;
                height: 130px;
                background-color: #FFFFFF;
                font-family: 'libre_franklinthin', sans-serif;

                margin-bottom: 21px;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                .cook-name {
                    margin: 0;
                    font-size: 22px;
                    font-weight: bold;
                }

                .cook-position {
                    margin: 0;
                    font-size: 20px;
                    font-weight: lighter;
                }

                .cook-social-media {
                    margin: 0;
                    display: flex;
                    gap: 30px;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }
}

footer {
    background-color: #333333;
    color: #FEFEFE;
    font-family: 'libre_franklinthin', sans-serif;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 102px;

    .footer-info {
        width: 1440px;
        display: flex;
        justify-content: space-between;


        .izquierdo {
            display: flex;
            flex-direction: column;
            gap: 45px;


            h1 {
                margin: 59px 0 0 0;
                font-family: 'ranchoregular', sans-serif;
                font-size: 96px;
                font-weight: normal;
            }

            p {
                width: 384.5px;
                font-size: 18px;
            }

            .socialmedia {
                display: flex;
                gap: 62px;
            }
        }

        .centro {
            margin-top: 59px;
            display: flex;
            flex-direction: column;

            .time-grid {
                margin: 21px 0 32px 0;
                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 20px;
                column-gap: 48.5px;
            }

            .number {
                margin-top: 20px;
                display: flex;
                gap: 24.5px;
            }
        }

        .derecha {
            margin-top: 59px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .adress {
                display: flex;
                gap: 11.5px;
            }
        }

        .mini-title {
            width: 155px;
            font-family: 'josefin_sansthin', sans-serif;
            color: #E76F51;
            font-size: 24px;
            font-weight: bold;
            padding-bottom: 11px;
            border-bottom: 1px solid #FFFFFF;
        }
    }

    .signature {
        padding: 16px;
    }
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}